#checkout {
  display: flex;
  width: 80%;
  margin: 40px auto;
  padding: 10px;
  background-color: aquamarine;
  justify-content: space-around;
  align-items: center;
}

#checkout input {
  width: 220px;
  height: 40px;
}

#checkout button {
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.images {
  display: flex;
  gap: 20px;
}

.images img {
  width: 400px;
  height: 400px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
